<style>
    table {
      width: 100%;
      border-collapse: collapse;
      margin: 20px 0;
      font-family: Arial, sans-serif;
      background-color: #f8f8f8;
    }
  
    td {
      padding: 15px;
      vertical-align: top;
      border: 1px solid #ddd;
    }
  
    img {
      border-radius: 50%;
      border: 2px solid #007bff;
    }
  
    p {
      margin: 5px 0;
      font-size: 16px;
      font-weight: bold;
      color: #333;
    }
  
    ul {
      list-style-type: none;
      padding: 0;
    }
  
    li {
      margin-bottom: 10px;
      font-size: 14px;
      color: #555;
    }
  
    li:nth-child(1),
    li:nth-child(2) {
      font-weight: bold;
      color: #007bff;
    }
  </style>
  
  <table>
    <tr>
      <td>
        <p>Jesus Alberto Perez Espinosa</p>
        <p>Ser Ingeniero de software, progresar en el gym</p>
      </td>
      <td>
        <img src="../../assets/images/alberto.jpeg" width="100" height="100">
      </td>
      <td>
        <ul>
          <li>albert10xd&#64;gmail.com</li>
          <li>&#64;elbetukis</li>
          <li>Tomatlán, Veracruz</li>
          <li>2731219823</li>
        </ul>
      </td>
    </tr>
  </table>
  